@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black-950 font-poppins;
  }
}

@layer utilities {
  .scroll {
    @apply overflow-x-hidden overscroll-y-auto;
  }

  .scroll::-webkit-scrollbar {
    @apply w-1;
  }

  .scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .text-gradient {
    background: linear-gradient(92deg, #EC81EE 59.01%, rgba(151, 102, 255, 0.00) 101.13%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
